* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 60px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Regole header */
header {
    background-color: #FF6900;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-side  {
    width: 25%;
}

.header-side>a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14px;
}

.logo {
    height: 100%;
}

.logo>a {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 60%;
    width: auto;
}

.header-right {
    text-align: right;
}

/* Regole contenuto principale */

.container {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 50px;
}

.product {
    width: 32%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

    /* Immagini e label */

.img-box {
    width: 100%;
    height: auto;
    position: relative;
}

.img-box img {
    width: 100%;
    height: auto;
}

.hover-img {
    display: none;
}

.img-box:hover .hover-img {
    display: inline-block;
}

.img-box:hover .normal-img {
    display: none;
}

.disc-and-sust {
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 85%;
}

.disc-and-sust * {
    padding: 5px;
    margin-right: 5px;
    z-index: 100;
}

.discount {
    background-color: red;
}

.sustainability {
    background-color: green;
    width: auto;
    height: auto;
}

.like {
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 2%;
    z-index: 100;
}

.prod-description {
    align-self: flex-start;
}

.brand {
    font-size: 12px;
}

.prod-name {
    font-size: 16px;
    font-weight: 500;
}

.price {
    font-size: 12px;
}

.price .pre-discount {
    text-decoration: line-through;
}

.price .post-discount {
    color: red;
    font-weight: bold;
}


/* Regole footer */
footer {
    background-color: #1A1A1A;
    color: white;
    height: 100px;
    width: 100%;
}

.footer-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    padding-right: 10px;
}

.footer-left>h3 {
    padding-bottom: 10px;
}

.footer-right>p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.footer-right a {
    font-size: 16px;
    padding: 2px;
}
